body{

    /*background-color: #2c6aa8*/
    background-color: black;
    color: white;
}

h2{

  font-size: 5rem !important;
  text-align: center;
}
nav a:hover {
  color: white !important;

}

header{
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

header p{

  font-size: 1.5em;
  margin: 50px 20px 50px 20px;
  
}

video{
    width: 100%;
}

.container {
    height: 250px; /* Hauteur suffisante pour permettre le défilement */
    overflow-y: scroll; /* Activer le défilement vertical */
    position: relative; /* Position relative pour positionner l'image */
    overflow: hidden;
  }
  
  .scroll-content {
    width: 100%;
    height: 200px; /* Double de la hauteur du conteneur pour permettre un défilement significatif */
  }
  
  #scrollImage {
    position: absolute;
    left: -600px; /* Position initiale de l'image hors de la vue */
    transition: left 0.5s ease; /* Animation de transition pour le déplacement */
    display: flex;
    justify-content: center;
    
  }

  #scrollImage img {

    width: 30%;
  }


 

  /***********************************************************/



/* Mixin white-gradient */
.slider::before,
.slider::after {
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}

/* Keyframes scroll */
@keyframes scroll {
  0% {
      transform: translateX(0);
  }
  100% {
      transform: translateX(calc(-250px * 7));
  }
}

/* Styling */
.slider {
  background: rgb(0, 0, 0);
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 400px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: -20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}


.slide {
  height: 150px;
  width: 600;
  background-color: rgb(249, 249, 249);
  
}


.slide img{
  width: 100%;
  height: 100%;
}

/** testeur **/
.slide_testing {
  height: 150px;
  width: 600;
  background-color: rgb(0, 0, 0);
  margin: 0 20px;
}

.slide_testing img{
  width: 100%;
  height: 100%;
}


.mangas > .slide_testing > img{

  width: 130px;
  height: 200px;

}

/************************/